<section class="title-slide">
    <h1>Angular Fundamentals</h1>
    <h2>ti&amp;m Academy</h2>
    <p>
        <img src="/images/ng-logo.svg" width="400" />
    </p>
    <p>
        <small>13. Juni 2016</small><br>
    </p>
    <div class="footer title-slide-footer">
        <p>
            Néstor Tarín Burriel
        </p>
        <ul>
            <li>Consulting.</li>
            <li>Design.</li>
            <li>Agile Projects.</li>
            <li>Products.</li>
            <li>Innovation Hosting.</li>
        </ul>
    </div>
</section>
