<section>
    <h2>$http service</h2>

    <h3>HTTP methods</h3>

    <ul>
        <li>get()</li>
        <li>head()</li>
        <li>post()</li>
        <li>put()</li>
        <li>delete()</li>
        <li>patch()</li>
    </ul>

    <p>All methods return a promise.</p>
</section>