<section>
    <h2>Dependencies managed by npm</h2>
    <p>
        Defined through package.json.
    </p>
    {{codeblock '02-project/dependencies.json'}}

    <aside class="notes">
        dependencies &#10174; Laufzeitabhängigkeiten (z.B. Angular oder Bootstrap)<br>
        devDependencies &#10174; Abhängigkeiten für Entwicklung (z.B. Gulp oder Karma)<br>
        Verwaltung mittels NPM CLI
    </aside>
</section>