<section>
    <h2>Root structure</h2>

    {{codeblock '02-project/root-structure.sh'}}

    <aside class="notes">
        - Struktur ist ähnlich bei den meisten modernen Frontend Projekten<br><br>
        Kurz erklären was warum.
    </aside>
</section>