<section>
    <h2>Common project structure</h2>

    {{codeblock '02-project/common-structure.sh'}}

    <p>
        <img width="200" height="200" src="http://cdn.meme.am/instances/500x/11541951.jpg">
    </p>
</section>