<section>
    <h2>Advantages of a component based approach.</h2>
    <ul class="small">
        <li>All parts of a component are in a common place.</li>
        <li>It is easier to share or extract components.</li>
        <li>It is easier to reason about the effects of code changes.</li>
    </ul>
</section>