<section>
    <h2>Backend</h2>
    <p>
        API-Endpoint<br>
        <a href="http://{{localAddress}}:3000/api" target="_blank">http://{{localAddress}}:3000/api</a>
    </p>
    <p>
        API-Browser<br>
        <a href="http://{{localAddress}}:3000/explorer" target="_blank">http://{{localAddress}}:3000/explorer</a>
    </p>
</section>