<section>
    <h2>Workflow automation with Gulp</h2>

    <p>gulpfile.js</p>

    <h3>default task</h3>

    <ul>
        <li><code>connect</code> Starts the dev server.</li>
    </ul>

    <h3>&quot;test&quot; task</h3>

    <ul>
        <li><code>test</code> Runs Protractor end-to-end tests.</li>
    </ul>
</section>