<section>
    <h2>Testing</h2>
    <ul>
        <li>End-to-end testing with <a href="http://www.protractortest.org" target="_blank">Protractor</a>.</li>
        <li>Tests remote control the browser.</li>
        <li>We are testing the application from the user's perspective.</li>
    </ul>
</section>