<section data-markdown>
    <h2>Protractor</h2>

    <li><a href="http://jasmine.github.io" target="_blank">Jasmine</a> based syntax.</li>
    <li>Selenium server controls the browser.</li>
    <li>
        Has Angular specific selector functions like
        <ul>
            <li>by.model()</li>
            <li>by.binding()</li>
            <li>by.id()</li>
        </ul>
    </li>
</section>