<section data-state="hands-on">
    <h2>Hands-on</h2>

    <p>
        Create a protractor test which makes sure that the contact list is properly filtered.
    </p>

    <h3>Bonus</h3>

    <p>Test that a click on a contact leads to its details page.</p>

    <h3>Tipps</h3>

    <ul>
        <li>All test files must have a ".spec.js" ending.</li>
        <li><code>gulp test</code> executes the tests.</li>
    </ul>
</section>