<section>
    <h2>Filters</h2>

    <ul>
        <li class="fragment">Are used to format output in views.</li>
        <li class="fragment">Can be chained using the pipe operator.</li>
    </ul>

    <div class="fragment">
        <h3>
            Example
        </h3>

        {{codeblock '07-filters/example.html'}}
    </div>
</section>