<section data-state="hands-on" data-markdown>
    <h2>Hands-on</h2>

    <p>
        Use Angular's "<a href="https://docs.angularjs.org/api/ng/filter/filter" target="_blank">filter</a>" filter
        to filter our contacts based on the value of the input field.
    </p>

    <h3>Bonus</h3>

    <p>
        Create a filter which capitalizes words. There is no "capitalize" function in JavaScript so you could use
    </p>

    {{codeblock '07-filters/capitalize.js'}}
</section>
