<section>
    <h2>Scope functions</h2>
    <dl>
        <dt>$on</dt>
        <dd>Registers a new event listener.</dd>
        <dt>$emit</dt>
        <dd>Sends an event upwards in the scope hierarchy.</dd>
        <dt>$broadcast</dt>
        <dd>Sends an event downwards in the scope hierarchy.</dd>
    </dl>
</section>