<section>
    <h2>System events</h2>

    <dl>
        <dt class="fragment">$destroy</dt>
        <dd class="fragment">Triggered when the current scope is destroyed.</dd>
    </dl>

    <p class="fragment small">
        That's it, $destroy is the only one&hellip;
    </p>
</section>