<section>
    <h2>Scope inheritance</h2>
    <dl>
        <dt>$rootScope</dt>
        <dd>Parent of all scopes.</dd>
        <dd>All scopes inherit from $rootScope or the parent scope.</dd>
    </dl>
</section>