<section>
    <h2>Scope isolation</h2>
    <ul>
        <li>Only valid for directives.</li>
        <li>An isolated child scope does not affect its parent scope, eg. ng-if, ng-switch, ng-repeat, ng-view or ng-include).</li>
        <li>Primitive values, like strings or numbers, passed to a directive with an isolated scope lose 2-way-binding.</li>
    </ul>
</section>