<section>
    <h2>Data Binding</h2>
    <dl>
        <dt>View</dt>
        <dd>\{{ myController.startDate | date: 'simple' }}</dd>
        <dt>Controller</dt>
        <dd>this.startDate = new Date();</dd>
        <dd><br><br></dd>
        <dd></dd>
    </dl>
    <p>
        By default, Angular takes care of synchronizing values between views and controllers / scopes, in bot ways.
        If a value changes in a controller the view gets updated automatically and vice versa.
    </p>
</section>