<section>
    <h2>Digest cycle</h2>

    <ul>
        <li>For every bound value a function is added to the watch list.</li>
        <li>As soon as a value change is detected the $digest cycle gets triggered</li>
        <li>During that cycle all watches valued will be checked for changes.</li>
        <li>The cycle is repeated until no changes are detected.</li>
        <li>Finally, the views get updated.</li>
    </ul>
</section>