<section>
    <h2>Controllers, scopes and controllerAs</h2>
    <p>There are tow ways how controllers and scopes can be used.</p>
    <dl>
        <dt class="fragment">Default</dt>
        <dd class="fragment">Variables and methods are defined directly on the $scope. <img src="/images/death.svg" style="height: 1em; vertical-align: text-bottom;"></dd>
        <dt class="fragment">controllerAs</dt>
        <dd class="fragment">Controller instance is passed to the scope. Variables and methods are defined on the controller.</dd>
    </dl>
</section>