<section>
    <h2>Advantages using controllerAs</h2>

    <ul>
        <li class="fragment">Data origin is easily tracable.</li>
        <li class="fragment">Easier testing of view functionality through encapsulation.</li>
        <li class="fragment">Better code maintainability.</li>
    </ul>

    <p class="fragment">
        <strong>Tip &#10174; Always use <code>controllerAs</code>.</strong>
    </p>
</section>