<section data-markdown>
    <h2>URL parameters with ui-router</h2>

    <p>
        The <code>$stateParams</code> service enables us to access URL parameters.
    </p>

    {{codeblock '09-scopes/url-param-access.js'}}
</section>