<section data-state="hands-on" data-markdown>
    <h2>Hands-on</h2>

    <ul>
        <li>Create a controller for our contact detail view using <code>controllerAs</code>.</li>
        <li>Link each contact in the list view with its details view.</li>
        <li>The route to the details view should be <code>/detail/:name</code>.</li>
    </ul>
</section>