<section>
    <h2>Module lifecycle</h2>

    {{codeblock '04-angular/module-lifecycle.js'}}

    <ol>
        <li>Module and its dependencies get initialized.</li>
        <li>config() blocks are executed.</li>
        <li>run() blocks are executed.</li>
    </ol>
</section>