<section>
    <h2>Dependency injection</h2>
    <ul>
        <li class="fragment">Injector gives us the possibility to reference modules by name / id.</li>
        <li class="fragment">There is only one injector instance per application.</li>
        <li class="fragment">Every module is only instantiated once.</li>
    </ul>

    <div class="fragment">
        {{codeblock '04-angular/dependency-injection.js'}}
    </div>
</section>