<section>
      <h2>Module lifecycle - config()</h2>
      <ol>
          <li>only providers and constants can be injected into configuration blocks.
      </ol>

      {{codeblock '04-angular/config-phase.js'}}

</section>
