<section>
    <h2>Dependency injection</h2>

    <ul>
        <li class="fragment"><strong>Careful!</strong> Automatic DI breaks when the code is minified.</li>
        <li class="fragment"><strong>Better!</strong> Explicitly define dependencies.</li>
    </ul>

    <div class="fragment">
        {{codeblock '04-angular/array-notation.js'}}
    </div>
</section>
