<section>
    <h2>Views (Templates)</h2>

    <p>
        HTML files.
    </p>

    {{codeblock '04-angular/views.html'}}

    <p>
        Every template should have a root element.
    </p>
</section>