<section>
    <h2>ng-route vs ui-router</h2>

    <ul >
        <li class="fragment">
            <h3>ng-route</h3>
            <ul>
                <li>Comes bundled with Angular.</li>
                <li>Only allows for simple routes and views.</li>
            </ul>
        </li>
        <li class="fragment">
            <h3>ui-router</h3>
            <ul>
                <li>Can handle nested views and complex state trees.</li>
                <li>Has established itself als standard.</li>
            </ul>
        </li>
    </ul>

    <p class="fragment">
        Tip &#10233; Always use ui-router.
    </p>
</section>