<section class="hands-on" data-state="hands-on" >
    <h2>Hands-on</h2>

    <h3>Create a route for our contacts list.</h3>

    <ul>
        <li>Create a new "contact-list" module, as given for "welcome".</li>
        <li>View template: contact-list.html.</li>
        <li>Route: /contact-list.</li>

    </ul>

    <p>
        <img width="200" height="200" src="http://cdn.meme.am/instances/500x/57106019.jpg">
    </p>
</section>