<section>
    <h2>
        Getting up and running with AngularJS is fairly easy but&hellip;
    </h2>
    <ul>
        <li class="fragment">there are no (official) conventions.</li>
        <li class="fragment">there is a vast amount of different approaches around.</li>
        <li class="fragment">AngularJS contains a lot of magic we should not trust blindly.</li>
    </ul>
</section>