<section>
    <h2>Goals</h2>
    <ul>
        <li class="fragment">Give you some guidelines and a unified project structure.</li>
        <li class="fragment">Introduce you to the concepts of AngularJS and how to apply them.</li>
        <li class="fragment">Bring some light into the dark corners of AngularJS.</li>
    </ul>
</section>