<section>
    <h2>Provider</h2>

    <ul>
        <li class="fragment">Parent of all other types except constants.</li>
        <li class="fragment">Can accept configuration parameters.</li>
        <li class="fragment">A provider can only depend on other providers of type "provider" or constants.</li>
        <li class="fragment">A provider can only be accessed during the configuration phase.</li>
        <li class="fragment">Examples are $stateProvider or $httpProvider.</li>
    </ul>
</section>