<section>
    <h2>Service</h2>
    <p>Similar to a factory but it is instantiated via <code>new</code>.</p>
    <p>
        <strong>Tip &#10174; Prefer services over factories.</strong>
    </p>
</section>