<section>
    <h2>Value / Constant</h2>
    <ul>
        <li class="fragment">A value can be anything, e.g. a String, Date, Array, Number, Object, etc.</li>
        <li class="fragment">Best used to store shared static values.</li>
        <li class="fragment">Constants are available during the config phase, values are not. That is the only difference.</li>
        <li class="fragment">Good to know: Despite their title contants can be changed at any time.</li>
    </ul>
</section>