<section data-state="hands-on">
    <h2>Hands-on</h2>

    <ul>
        <li>
            Create a <code>ContactsService</code> service with a method <code>fetchContacts</code>. The method should
            fetch the available contacts from the API endpoint <nobr>http://localhost:3000/api/Contacts</nobr>
        </li>
        <li>Use Angular's <code>$http</code> service.</li>
        <li>Replace the currently static list of contacts with the data from the server.</li>
    </ul>

    <h3>Bonus</h3>

    <ul>
        <li>Make the API endpoint configurable.</li>
    </ul>
</section>
