<section data-state="hands-on">
    <h2>Hands-on</h2>

    <p>Extend our application.</p>

    <ul>
        <li>Contact details should be fetched from the server.</li>
        <li>We should be able to create or update contacts.</li>
    </ul>
</section>