<section>
    <h2>Lifecycle of directives</h2>

    <ol>
        <li>Browser parses HTML.</li>
        <li>Angular identifies all directives.</li>
        <li>Directives are sorted by priority.</li>
        <li><code>compile()</code> method is called.</li>
        <li>Compiled directive is inserted into the DOM.</li>
        <li><code>link()</code> method is called.</li>
    </ol>
</section>