<section>
    <h2>Custom components</h2>
    <p>
        New in Angular 1.5.<br>
        <small><a href="https://docs.angularjs.org/guide/component" target="_blank">docs.angularjs.org/guide/component</a></small>
    </p>
</section>