<section>
    <h2>Component Definition Object</h2>

    {{codeblock '14-custom-directives/component-definition.js'}}

    <p>
        <a href="https://docs.angularjs.org/guide/component#component-based-application-architecture">Lifecycle hooks</a>
        as replacement for <code>compile()</code> and <code>link()</code>.
    </p>
</section>