<section data-state="hands-on">
    <h2>Hands-on</h2>

    <p>
        Every contact in the contacts list should get a generated profile image from robohash.org. Create a new
        component which shows a image based on a given email address.
    </p>

    <h3>Robohash-API</h3>

    <p>https://robohash.org/\{{ email }}</p>
</section>