<section>
    <h2>Directives</h2>

    <ul>
        <li class="fragment">Reusable UI components.</li>
        <li class="fragment">"Extended" HTML tags or attributes.</li>
        <li class="fragment">Only place where DOM manipulations should be performed.</li>
        <li class="fragment">Can decorate existing HTML elements with new behaviour.</li>
    </ul>
</section>