<section>
    <h2>Some examples</h2>
    <div class="fragment">
        <h3>ng-model</h3>

        {{codeblock '05-directives/ng-model.html'}}
    </div>

    <div class="fragment">
        <h3>ng-class</h3>

        {{codeblock '05-directives/ng-class.html'}}
    </div>

    <div class="fragment">
        <h3>ng-if</h3>

        {{codeblock '05-directives/ng-if.html'}}
    </div>
</section>