<section data-state="hands-on">
    <h2>Hands-on</h2>

    <ul>
        <li>Add an input field in the contacts list view.</li>
        <li>Use <code>ng-model</code> to bind its value to a variable.</li>
        <li>Show the entered value beneathe the input field.</li>
    </ul>

    <h3>Bonus</h3>

    <p>If 'spin' is entered, add a class 'spin' to the output element and give it some special behaviour.</p>
</section>