<section>
    <h2>Controllers</h2>

    <p>
        Controllers provide views with functionality and control the views state. A more appropriate name for
        controllers in Angular would be view models.
    </p>
</section>