<section>
    <h2>Not everything belongs into a controller</h2>

    <ul>
        <li class="fragment">Business logic.</li>
        <li class="fragment">Sharing state information with other controllers.</li>
        <li class="fragment">Output formatting.</li>
    </ul>

    <aside class="notes">
        <ul>
            <li><strong>Business-Logik.</strong> Gehört in Services</li>
            <li><strong>Output formatieren und filtern.</strong> Dazu sind AngularJS Filter da</li>
            <li><strong>State mit anderen Controllern teilen.</strong> Dafür gibt es die AngularJS Services</li>
        </ul>
    </aside>
</section>