<section>
    <h2>Connecting controllers and views</h2>

    {{codeblock '06-controllers/assign-controller.js'}}

    <aside class="notes">
        Frage: Wo würde man die Zuweisung erwarten?
    </aside>
</section>