<section data-state="hands-on">
    <h2>Hands-on</h2>

    <ul>
        <li>Create a new controller "ContactListController" in our "ContactList" module.</li>
        <li>Define an array of contacts as property on the new controller.</li>
        <li>
            List the defined contacts within the view
            (see <a href="https://docs.angularjs.org/api/ng/directive/ngRepeat" target="_blank">ng-repeat</a>).
        </li>
    </ul>
</section>