<section>
    <h2>import &#10234; export</h2>

    <dl>
        <dt>import</dt>
        <dd>Imports public parts of a package into a local variable / reference.</dd>
        <dt>export</dt>
        <dd>Exposes component parts for usage in other packages.</dd>
    </dl>
</section>