<section data-state="hands-on">
    <h2>Hands-on</h2>

    <ul>
        <li>Create a form to enter new contacts, in a new component.</li>
        <li>
            Include form fields for
            <ul>
                <li>Name</li>
                <li>Email</li>
                <li>Phone number</li>
            </ul>
        </li>
        <li>Validate the name field (required) and email field (proper email).</li>
    </ul>
</section>