<section>
    <h2>First possibility</h2>

    {{codeblock '12-authentication/possibility-1.js'}}

    <p><code>$locationChangeSuccess</code> will not be triggered right after initializing the applicaiton.</p>
</section>