<section data-state="hands-on">
    <h2>Hands-on</h2>

    <ul>
        <li>
            Protect our application by adding a login screen.
            <ul>
                <li>POST: /Users/login</li>
                <li>Body parameters &quot;email&quot; und &quot;password&quot;.</li>
                <li>"data.id" property in the response contains the auth token.</li>
            </ul>
        </li>
        <li>
            Send the auth token in the "Authorization" header for authenticated requests.
        </li>
        <li>
            You can also use a library like <a href="https://www.npmjs.com/package/angular-visor" target="_blank">angular-visor</a>
            instead of reinventing the wheel ;-).
        </li>
    </ul>
</section>